* {
    box-sizing: border-box;
}

body {
    font: 16px Arial;
}

.search-box {
    display: inline-block;
    width:50%;
}

.autocomplete {
    position: relative;
    margin: 30px auto;
    width: 88%;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
    border: none;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
    width:20%;
}

input[type=checkbox] {
    width:10%;
}

.center-align {
    text-align: center;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}